<% if @article.draft == true  %>
	<p>This article is a draft.</p>
	<p><%= @article.title %></p>
	<p><%= @article.body %></p>
	
<% else %>
	<p><%= @article.title %></p>
	<p><%= @article.body %></p>
<% end %>

<% if session[:liked_article_ids] && session[:liked_article_ids].include?(@article.id) %>
	<p>You like this article!</p>
<% else %>
	<%= link_to("Like this article", like_article_path(@article.id)) %>
<% end %>

<p><%= session %></p>
