<h1>HOME</h1>
<p><%= session %></p>
<p>Your IP address is: <%= request.remote_ip %></p>
<p><%= link_to("About", about_path) %></p>
<p><%= link_to("Class Projects", projects_index_path) %>
<p><%= link_to("Articles", articles_index_path)%></p>